<!-- <div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <span
                    style="height: 25px;; background-color: rgb(245, 200, 64) ; font-size: small; font-weight: 580; position: absolute; z-index: 12; right: 0%;"
                    class="new badge" data-badge-caption="30% OFF!"></span>
                <img style="height: 250px; width: 100%;" [src]='foodItem.image'>
            </div>
            <div class="card-content">
                <h2 class="sofia">{{foodItem.name}}</h2>
                <p class="sofia">{{foodItem.description}}</p>
                <div class="card-stats-container">
                    <div class="card-stats">
                        <h1 class="stats-heading">
                            Carbs
                        </h1>
                        <p class="stats-para">
                            {{foodItem.carbs}}
                        </p>
                    </div>
                    <div class="card-stats">
                        <h1 class="stats-heading">
                            Calories
                        </h1>
                        <p class="stats-para">
                            {{foodItem.calories}}
                        </p>
                    </div>

                    <div class="card-stats">
                        <h1 class="stats-heading">
                            Protein
                        </h1>
                        <p class="stats-para">
                            {{foodItem.protein}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card-action">
                        <button (click)="openModal(foodItem)"
                            style="height: 52px; background-color: rgb(245, 200, 64) !important; width: 100%;"
                            class="waves-effect  btn modal-trigger" href="#myModal"> Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <h4>Let's Order! </h4>
        <p *ngIf="cutOff()">Are you sure you want to order {{foodItem.name}} for {{day}} </p>
        <p *ngIf="!cutOff() && selectedFoodItem.menuType=='lunch'">We'r Sorry, You have to order lunch before 10 AM</p>
        <p *ngIf="!cutOff() && selectedFoodItem.menuType=='dinner'">We'r Sorry, You have to order lunch before 4 PM</p>
    </div>
    <div class="modal-footer">
        <a *ngIf="cutOff()" class="modal-close waves-effect waves-green btn-flat"
            (click)="orderPlaced(foodItem)">Yes</a>

        <a *ngIf="cutOff()" class="modal-close waves-effect waves-green btn-flat">No</a>
        <a *ngIf="!cutOff()" class="modal-close waves-effect waves-green btn-flat">ok</a>
    </div>
</div> -->


<div class="row food_item_list">
    <div class="col s12">
        <div class="row">
            <div style="" class="col s4">
                <img class="food_item_pic" [src]="foodItem.image" alt="">
                <span
                    style="height: 25px;; background-color: #FF7000 ; border-radius: 10px; font-family: Poppins; font-size: small; font-weight: 580; position: absolute; z-index: 12; left: 0%;"
                    class="new badge" data-badge-caption="30% OFF!"></span>
            </div>
            <div style="padding-top: 13px; padding-bottom: 10px;" class="col s5">
                <p class="food_item_heading">{{foodItem.name}}</p>
                <!-- <span class="food_item_desc">{{foodItem.description}}</span> -->
                <span class="price">Rs 200</span>
            </div>
        </div>
    </div>
</div>