<div class="row">
    <div class="col s12">
        <!-- <input type="text" class="datepicker"> -->
        <div class="card">
          <!-- <div class="row"> -->
            <!-- <div class="col s12"> -->
              
            <!-- </div> -->
          <!-- </div> -->

            <div class="card-image">
                <span style= "height: 25px;; background-color: rgb(245, 200, 64) ; font-size: small; font-weight: 580; position: absolute; z-index: 12; right: 0%;" class="new badge" data-badge-caption="30% OFF!"></span>
              <img style="height: 250px; width: 100%;" [src]='foodItem.image'>
         
              <!-- <span class="card-title">Dum Aloo</span> -->
            </div>
            <!-- <div class="card-content">
                <h2>Name</h2>
                <p>Very delicious food with nutrition value</p>
              </div> -->
                <div class="card-content">
                    <h2 class="sofia">{{foodItem.name}}</h2>
                    <p class="sofia">{{foodItem.description}}</p>    
                    <div class="card-stats-container">
                    <div class="card-stats">
                        <h1 class="stats-heading">
                            Carbs
                        </h1>
                        <p class="stats-para">
                            {{foodItem.carbs}}
                        </p>
                    </div>
                     <div class="card-stats">
                        <h1 class="stats-heading">
                            Calories
                        </h1>
                        <p class="stats-para">
                            {{foodItem.calories}}
                        </p>
                    </div>
        
                    <div class="card-stats">
                        <h1 class="stats-heading">
                            Protein
                        </h1>
                        <p class="stats-para">
                            {{foodItem.protein}}
                        </p>
                    </div>
                </div>
            </div>
           <div class="row">
            <div class="col s12">
                <div class="card-action">
                    <button (click) = "openModal(foodItem)"    style="height: 52px; background-color: rgb(245, 200, 64) !important; width: 100%;"  class="waves-effect  btn modal-trigger" href="#myModal">  Place Order</button>

                    <!-- <a class = "btn modal-trigger" class="btn waves-effect waves-light "  name="action">
                      
                    </a> -->
                </div>
            </div>
           
           </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
      <h4>Let's Order! </h4>
      <p *ngIf="cutOff()">Are you sure you want to order {{foodItem.name}} for {{day}} </p>
      <p *ngIf="!cutOff() && selectedFoodItem.menuType=='lunch'">We'r Sorry, You have to order lunch before 10 AM</p>
      <p *ngIf="!cutOff() && selectedFoodItem.menuType=='dinner'">We'r Sorry, You have to order lunch before 4 PM</p>
    </div>
    <div class="modal-footer">
        <a *ngIf="cutOff()" class="modal-close waves-effect waves-green btn-flat" (click) = "orderPlaced(foodItem)">Yes</a>
   
      <a *ngIf="cutOff()" class="modal-close waves-effect waves-green btn-flat">No</a>
      <a *ngIf="!cutOff()" class="modal-close waves-effect waves-green btn-flat">ok</a>
    </div>
  </div>


  