<div style="margin-top: 23%; height: 100vh;" class="row">
   <div class="">
      <!-- <div class="row">
         <div class="container">
            <div class="col s4">
               <mat-form-field>
                  <mat-label>Select Day</mat-label>
                  <mat-select (selectionChange)  = "daySelected($event)">
                      <mat-option value="1">Mon</mat-option>
                      <mat-option value="2">Tue</mat-option>
                      <mat-option value="3">Wed</mat-option>
                      <mat-option value="4">Thu</mat-option>
                      <mat-option value="5">Fri</mat-option>
                      <mat-option value="6">Sat</mat-option>
                      <mat-option value="0">Sun</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
         </div>
      </div> -->

      <div style="margin-top: 18px;" class="row  container">
         <!-- <divlucn
             style="" class="row container">
            <div class="col s6">
               <button [ngClass]="{'active_button': type=='lunch','type':type!='lunch'}" #btn
                  (click)="typeSelected('lunch',btn)" class="">
                  <span [ngClass]="{'active_type_text': type=='lunch','type_text':type!='lunch'}" class="">lunch</span>
               </button>

            </div>
            <div class="col s6">
               <button [ngClass]="{'active_type': type=='dinner','type':type!='dinner'}" #btn2
                  (click)="typeSelected('dinner',btn2)" class="active_button">
                  <span [ngClass]="{'active_type_text': type=='dinner','type_text':type!='dinner'}"
                     class="type_text">Dinner</span>
               </button>
            </div>
         </div> -->
         <div style="overflow-y: auto;  display: flex;
         flex-direction: ;
         flex-wrap: ;">
            <button mat-button *ngFor="let date of dates" (click)="dateSelected(date)"
               style="padding: 0%;  margin-left: 5px;">
               <p>{{date | date :'EEE':'IST'}}</p>
            </button>

         </div>
         <!-- <div class="">
            <div style="text-align: center; margin-top: 30px;">
               
               <a (click)="daySelected(1,chip)">
                  <div [ngClass]="{'selected': day=='1'}" #chip style="" class="chip">
                     Mon
                  </div>
               </a>
               <a (click)="daySelected(2,chip2)">
                  <div [ngClass]="{'selected': day=='2'}" #chip2 style="" class="chip">
                     Tue
                  </div>
               </a>
               <a (click)="daySelected(3,chip3)">
                  <div [ngClass]="{'selected': day=='3'}" #chip3 style="" class="chip">
                     Wed
                  </div>
               </a>
               <a (click)="daySelected(4,chip4)">
                  <div [ngClass]="{'selected': day=='4'}" #chip4 style="" class="chip">
                     Thu
                  </div>
               </a>
               <a (click)="daySelected(5,chip5)">
                  <div [ngClass]="{'selected': day=='5'}" #chip5 style="" class="chip">
                     Fri
                  </div>
               </a>

               <div style="text-align: center; margin-top: 4px;">
                  <a (click)="daySelected(6,chip6)">
                     <div [ngClass]="{'selected': day=='6'}" #chip6 style="" class="chip">
                        Sat
                     </div>
                  </a>
                  <a (click)="daySelected(0,chip7)">
                     <div [ngClass]="{'selected': day=='0'}" #chip7 style="" class="chip">
                        Sun
                     </div>
                  </a>
               </div>
            </div>
         </div> -->
       
      </div>
   </div>
   <div style="text-align: center; margin-top: 30px;" class="row container">
      <p style="font-family: Poppins; font-weight: 600; font-size: large;">{{currentDate | date : 'EEE, dd MMM'}}</p>
   </div>
   <div
   *ngIf="( !loading && foodItems.lunch.length < 1 && foodItems.dinner.length < 1)"
   id="tes1" class=" ">
   <div style="text-align: center;" _ngcontent-tcm-c57="" class="card">
      <div class="col m4 s12">
         <img style="width: 40%; " src="../../assets/feather_search.png" alt="">
         <h2 style="font-family: Poppins; ">NO ITEM FOUND</h2>
         <p style="font-family: Poppins; color : #FF7000">Try to search for different day!</p>
      </div>
      <div>

      </div>

   </div>
</div>
   <div *ngIf="!loading && foodItems.lunch && foodItems.lunch.length > 0 " class="row">
      <div class="container">
         <p style="color: grey; font-family: Poppins; font-weight: 600;">LUNCH</p>
      </div>
      <a *ngFor="let foodItem of foodItems.lunch" (click)="openOrderDetail(foodItem)">
         <app-ards [foodItem]='foodItem'></app-ards>
      </a>
   </div>
   <div *ngIf="!loading && foodItems.dinner && foodItems.dinner.length > 0" class="row">
      <div class="container">
         <p style="color: grey; font-family: Poppins; font-weight: 600;">DINNER</p>
      </div>
      <a *ngFor="let foodItem of foodItems.dinner" (click)="openOrderDetail(foodItem)">
         <app-ards [foodItem]='foodItem'></app-ards>
      </a>
   </div>
</div>
<!-- <mat-form-field style="visibility: hidden;;" class="example-full-width">
   <input (dateChange)="onDateSelect($event)" matInput [matDatepicker]="picker">
   <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
<div *ngIf = "loading" style="height: 20px !important; position: absolute; text-align: center !important; margin-left: 38%; z-index: 3; top: 38%;">
    <mat-spinner></mat-spinner>
   </div>