
<div class="row ">
    <!-- <div class="col s1"></div> -->
    <div class="col s2">
        <button (click) = "daySelected(1)" mat-button>Mon</button>
    </div>
    <div class="col s2">
        <button (click) = "daySelected(2)" mat-button>Tue</button>
    </div>
    <div class="col s2">
        <button (click) = "daySelected(3)" mat-button>Wed</button>
    </div>
    <div class="col s2">
        <button (click) = "daySelected(4)" mat-button>Thu</button>
    </div>
    <div class="col s2">
        <button (click) = "daySelected(5)" mat-button>Fri</button>
    </div>
    <!-- <div class="col s1">s</div> -->
</div>

