
<div class="row ">
    <div class="col s1"></div>
    <div class="col s2">
        <button (click) = "daySelected(1)" mat-stroked-button>Mon</button>
    </div>
    <div class="col s2">
        <button (click) = "daySelected(2)" mat-stroked-button>Tue</button>
    </div>
    <div class="col s2">
        <button (click) = "daySelected(3)" mat-stroked-button>Wed</button>
    </div>
    <div class="col s2">
        <button (click) = "daySelected(4)" mat-stroked-button>Thu</button>
    </div>
    <div class="col s2">
        <button (click) = "daySelected(5)" mat-stroked-button>Fri</button>
    </div>
    <!-- <div class="col s1">s</div> -->
</div>