<div class="container">
    <div class="row">
        <div class="col s2"></div>
        <div class="center-align" class="col s8">
            <img src="https://media.istockphoto.com/id/1206323282/photo/juicy-hamburger-on-white-background.jpg?s=612x612&w=0&k=20&c=K0DxyiChLwewXcCy8aLjjOqkc8QXPgQMAW-vwRCzqG4=" alt="" srcset="">
            <!-- <hr> -->
        </div>
        <div class="row">
            <div class="col s12">
                <div class="col s2"></div>
                <div class="row">
                    <div class="col s2">
                        Burger
                    </div>
                    <div class="col s3">
                        <i style="color: gold;" class="material-icons">star</i>
                        <i style="color: gold;" class="material-icons">star</i>
                        <i style="color: gold;" class="material-icons">star</i>
                        <i style="color: gold;" class="material-icons">star</i>
                        <i style="color: gold;" class="material-icons">star</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s10">
                <h5 >Double Cheese Burger</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s7">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, reiciendis expedita ducimus soluta explicabo voluptas labore nihil repellat aperiam aut alias consequuntur sed eligendi ad pariatur rerum molestiae vero earum!</p>
            </div>
        </div>

        <div class="row">
            <col class="col s3">

            <div  class="col s9">
                <button style="border-radius: 200px;" (click) = "book()" style="width:60%;" class="waves-effect waves-light btn">Book My Order</button>
            </div>
        </div>
        
    </div>
</div>