   <!-- <div class="row">
    <div style="background-position: center; opacity: 0.7; width: 100%; height: 17em; background: url('https://foodginie.com/images/food-banner.jpg'); background-repeat: no-repeat; background-size: cover; background-position-y: 7%;" class="row">
       <img style="height:110px; width: 110px;" src="../../assets/—Pngtree—food logo vector design restaurant_3628304.png" alt="">
    </div>
    <div style="width: 100%;  background-color: ;" class="row">
       <div class="col s12">
          <h2 style="text-align: center;color:black">  <i class="material-icons">restaurant_menu</i> MENU </h2>
          <ul class="collection">
             <li class="collection-item avatar">
                <a href="" style="color:black; cursor: pointer;">
                   <img src="../../assets/6-2-burger-png-image.png" alt="" class="circle">
                   <h2 class="title">Breakfast</h2>
                   <span  class="secondary-content"><i style="color: black;" class="material-icons">send</i></span>
                </a>
             </li>
             <li class="collection-item avatar">
                <a href="" style="color: black;cursor: pointer;">
                   <img src="../../assets/pngwing.com.png" class="circle" alt="">
                   <h2 class="title">Lunch</h2>
                   <span  class="secondary-content"><i style="color: black;" class="material-icons">send</i></span>
                </a>
             </li>
             <li class="collection-item avatar">
                <a href="" style="color: black;cursor: pointer;">
                   <img src="../../assets/pngwing.com.png" class="circle" alt="">
                   <h2 class="title">Dinner</h2>
                   <span  class="secondary-content"><i style="color: black;" class="material-icons">send</i></span>
                </a>
             </li>
          </ul>
       </div>
    </div>
 </div> -->
 <!-- <div  class="row">
    <div style="text-align: center;"  class="" class="">
       <button  style="height: 52px; background-color: black; width: 40%;" class="btn waves-effect waves-light " type="submit" name="action">
          Place Order
       </button>
    </div>
 </div> -->