<div style=" text-align: center; height: 100vh;">
    <h2>Tomorrow's Menu - BURGER</h2>
    <img style="" src="../../assets/6-2-burger-png-image.png" alt="" srcset="">
    <div >
        <i style="color: gold;" class="material-icons">star</i>
        <i style="color: gold;" class="material-icons">star</i>
        <i style="color: gold;" class="material-icons">star</i>
        <i style="color: gold;" class="material-icons">star</i>
        <i style="color: gold;" class="material-icons">star</i>
    </div>
          
    <button  style="border-radius: 200px;" (click) = "book()" style="width:35%;" class="waves-effect waves-light btn">Book My Order</button>
</div>
<div>
img
   <img src="img" alt="">