<div>
   <amplify-authenticator style="margin-top: 20%;">
      <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
         <!-- <a (click)="signOut()" style = "color: black !important;" class="btn-floating btn-large   "   style=" top : 10px;" ><i class="material-icons">exit_to_app</i></a> -->
        <div class = "overlay-button">
           <a class="overlay" (click)="drawer.toggle(); sideBarState = !sideBarState">
              <i *ngIf = "!sideBarState"
                class="material-icons">menu
              </i>
              <i *ngIf = "sideBarState"
              class="material-icons">close
            </i>
           </a>
              

        </div>
         <!-- <router-outlet></router-outlet>  -->
         <mat-drawer-container style="height: 100%;" class="example-container" autosize>
            <mat-drawer  #drawer class="example-sidenav" mode="side">
               <div class="nav-cnt" style="margin-top: 72px !important;">
                  <ul id="" class="sidebar">
                     <li><a routerLink="" class="waves-effect">Menu</a></li>
                     <li><a style="" routerLink="myorders" class="waves-effect">My Orders</a></li>
                     <li><a routerLink="myorders" class="waves-effect" (click)="signOut()">Sign Out</a></li>
                  </ul>

               </div>
               <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
               <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
                  Toggle extra text
                  </button> -->
            </mat-drawer>
            <mat-drawer mode="side">Drawer content</mat-drawer>
            <mat-drawer-content style="background-color: #F6F6F6 !important;"
               (click)="drawer.close();sideBarState = false">
               <!-- <div *ngIf = "showLogo" class="row">
                  <div class="">
                     <div class="col s3">
                     </div>
                     <div style="margin-top: px;" class="col s6">
                        <h2 style="text-align: center;color:black"> <i class="material-icons">restaurant_menu</i> MENU </h2>
                     </div>
                     <div class="col s3">
                        <img style="height:70px; width: 70px;"
                           src="../../assets/—Pngtree—food logo vector design restaurant_3628304.png" alt="">
                     </div>
                  </div>
               </div> -->
              <div class="mn_content">
               <router-outlet></router-outlet>
              </div>
            </mat-drawer-content>
            <!-- <mat-drawer-content>Main content</mat-drawer-content> -->
         </mat-drawer-container>
      </ng-template>
   </amplify-authenticator>
</div>
<button (click)="automate()">automate</button>