<div style="margin-top: 120px;" class="row container">
   <div class="col s12">
      <button (click) = "orderSheet()" mat-stroked-button> 
          <i class="material-icons">cloud_download
          </i>
          <p>Get Order Sheet</p>
         </button>
   </div>
   <div style="margin-top: 25px;" class="col s12">
      <button (click) = "orderSheet()" mat-stroked-button> 
          <i class="material-icons">notifications
          </i>
          <p>Send Notifications</p>
         </button>
   </div>
</div>

