 <div class="row">
    <!-- <div style="height:100vh; background: rgb(16, 2, 31);" class="col s2">
       <ul class="collection">
          <li  style=" color: white; background: rgb(16, 2, 31);" class="collection-item">
             <div class="row">
                <div class="col s1">
                   <i style="color:white;" class="material-icons">assignment</i>
                </div>
                <div class="col s1">
                   <span >Orders</span>
                </div>
             </div>
          </li>
          <a routerLink = "upload-menu">
             <li  style=" color: white; background: rgb(16, 2, 31);" class="collection-item">
                <div class="row">
                   <div class="col s1">
                      <i style="color:white;" class="material-icons">assignment</i>
                   </div>
                   <div class="col s1">
                      <span >Upload Menu</span>
                   </div>
                </div>
             </li>
          </a>
          <a routerLink = "/admin/feedback">
             <li  style=" color: white; background: rgb(16, 2, 31);" class="collection-item">
                <div class="row">
                   <div class="col s1">
                      <i style="color:white;" class="material-icons">assignment</i>
                   </div>
                   <div class="col s1">
                      <span >Feedback</span>
                   </div>
                </div>
             </li>
          </a>
       </ul>
    </div> -->
    <div class="col s9 ">
       <div class="" style="margin-left: 20px;">
          <div style="margin-top: 20px;" class="row">
             <div class="col s12">
                <div class="row">
                   <form class="col s12">
                      <div class="row">
                         <div class="input-field col s6">
                            <input id="name" type="text" class="validate">
                            <label for="name">Name</label>
                         </div>
                         <div class="input-field col s6">
                            <input id="name" type="text" class="validate">
                            <label for="name">Date</label>
                         </div>
                      </div>
                      <div class="row">
                         <div class="input-field col s12">
                            <input id="Description" type="text" class="validate">
                            <label for="Description">Description</label>
                         </div>
                      </div>
                   </form>
                   <div class="row">
                      <div class="col s5">
                      </div>
                      <div class="col s6">
                         <input type="file" class="btn  btn-large waves-effect waves-light indigo"><span > Upload Menu Pic</span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div> 
 